{% extends 'base.html.twig' %}

{% block title %}Message{% endblock %}

{% block body %}
    <h1>Message</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ message.id }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ message.Mail }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ message.Telephone }}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{ message.Message }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('app_message_index') }}">Back to list</a>

    <a class="btn btn-warning" href="{{ path('app_message_edit', {'id': message.id}) }}">Edit</a>

    {{ include('message/_delete_form.html.twig') }}
{% endblock %}
